#Publications {
  text-align: center;
}

.listPublications {
  text-align: justify;
}

.PublicationsColumn {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0rem;
}

.iconsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ripped from materialize Card element */

.mCardPub {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.mCardPub .mCardPub-title {
  font-size: 24px;
  font-weight: 300;
}

.mCardPub .mCardPub-title.activator {
  cursor: pointer;
}

.mCardPub.small, .mCardPub.medium, .mCardPub.large {
  position: relative;
}

.mCardPub.small .mCardPub-image, .mCardPub.medium .mCardPub-image, .mCardPub.large .mCardPub-image {
  max-height: 60%;
  overflow: hidden;
}

.mCardPub.small .mCardPub-image + .mCardPub-content, .mCardPub.medium .mCardPub-image + .mCardPub-content, .mCardPub.large .mCardPub-image + .mCardPub-content {
  max-height: 40%;
}

.mCardPub.small .mCardPub-content, .mCardPub.medium .mCardPub-content, .mCardPub.large .mCardPub-content {
  max-height: 100%;
  overflow: hidden;
}

.mCardPub.small .mCardPub-action, .mCardPub.medium .mCardPub-action, .mCardPub.large .mCardPub-action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mCardPub.small {
  height: 300px;
}

.mCardPub.medium {
  height: 400px;
}

.mCardPub.large {
  height: 500px;
}

.mCardPub.horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mCardPub.horizontal.small .mCardPub-image, .mCardPub.horizontal.medium .mCardPub-image, .mCardPub.horizontal.large .mCardPub-image {
  height: 100%;
  max-height: none;
  overflow: visible;
}

.mCardPub.horizontal.small .mCardPub-image img, .mCardPub.horizontal.medium .mCardPub-image img, .mCardPub.horizontal.large .mCardPub-image img {
  height: 100%;
}

.mCardPub.horizontal .mCardPub-image {
  max-width: 50%;
}

.mCardPub.horizontal .mCardPub-image img {
  border-radius: 2px 0 0 2px;
  max-width: 100%;
  width: auto;
}

.mCardPub.horizontal .mCardPub-stacked {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.mCardPub.horizontal .mCardPub-stacked .mCardPub-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mCardPub.sticky-action .mCardPub-action {
  z-index: 2;
}

.mCardPub.sticky-action .mCardPub-reveal {
  z-index: 1;
  padding-bottom: 64px;
}

.mCardPub .mCardPub-image {
  position: relative;
}

.mCardPub .mCardPub-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.mCardPub .mCardPub-image .mCardPub-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}

.mCardPub .mCardPub-content {
  /*padding: 24px;*/
  padding: 12px;
  border-radius: 0 0 2px 2px;
}

.mCardPub .mCardPub-content p {
  margin: 0;
}

.mCardPub .mCardPub-content .mCardPub-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
}

.mCardPub .mCardPub-content .mCardPub-title i {
  line-height: 32px;
}

.mCardPub .mCardPub-action {
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 16px 24px;
}

.mCardPub .mCardPub-action:last-child {
  border-radius: 0 0 2px 2px;
}

.mCardPub .mCardPub-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.mCardPub .mCardPub-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}

.mCardPub .mCardPub-reveal {
  padding: 24px;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.mCardPub .mCardPub-reveal .mCardPub-title {
  cursor: pointer;
  display: block;
}

.cardPubOverride {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}
